#* * * * * cd /app && DISPLAY=:99 /usr/bin/Xvfb :99 -ac & /usr/local/bin/python -u x.py >> /var/log/cron.log 2>&1
#* * * * * cd /app && echo "Current directory: $(pwd)" >> /var/log/cron.log 2>&1

0 * * * * /usr/local/bin/python -u x.py >> /var/log/cron.log 2>&1



